<div class="col-xs-3 col-xs-offset-2 admin-chat-rooms">
  <h5 class="text-center"><%= @end_user.name %></h5>
  <div class="admin-chat-list">
    <table class="table">
      <tbody>
        <% @user_rooms.each do |user_room| %>
          <tr>
            <td class="text-right col-xs-1">
            <%= link_to admin_end_user_chats_path(end_user_id: @end_user.id, pair_user_id: user_room.end_user.id) do %>
              <% if user_room.end_user.images.present? %>
                <img src='<%= user_room.end_user.images.thumb.url %>' class="post_user_image" alt="プロフ写真">
              <% else %>
                <%= image_tag "sample.jpg", size: '50x50', class: "post_user_image" %>
              <% end %>
            <% end %>
            </td>
            <td style="vertical-align: middle;">
              <%= link_to user_room.end_user.name, admin_end_user_chats_path(end_user_id: @end_user.id, pair_user_id: user_room.end_user.id) %>
            </td>
            <td class="admin-room-destroy" style="vertical-align: middle;">
              <%= link_to "削除", room_destroy_admin_end_user_chats_path(end_user_id: @end_user.id, pair_user: user_room.end_user.id), class: "btn-sm btn-danger", method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-7 admin-chat-room">
  <h5 id="admin-room" data-room="<%= @room.id %>" data-user="<%= @end_user.id %>"><%= @pair_user.name %> さん</h5>
  <div class="admin-chat-content">
    <table class="admin-message">
      <% @chats.each do |chat| %>
        <% if chat.end_user_id == @end_user.id %>
        <tbody class="admin-message-body text-right">
          <tr>
            <td class="text-right admin-message-right">
              <p class="admin-message-box-right destroy-ajax<%= chat.id %>" style="text-align: right; font-weight: normal;">
                <%= render 'chat', chat: chat %>
              </p>
              <%= link_to "削除", admin_end_user_chat_path(id: chat.id, end_user_id: @pair_user.id, user: 'chat-right'), class: "message-destroy-right", method: :delete %>
            </td>
          </tr>
        </tbody>
        <% else %>
        <tbody class="admin-message-body text-left">
          <tr>
            <td class="text-left admin-message-left">
              <%= link_to "削除", admin_end_user_chat_path(id: chat.id, end_user_id: @end_user.id, user: 'chat-left'), class: "message-destroy-left", method: :delete %>
              <p class="admin-message-box-left destroy-ajax<%= chat.id %>" style="text-align: left; font-weight: normal;">
                <%= render 'chat', chat: chat %>
              </p>
            </td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>