<% unless comments.present? %>
  <p>コメントはありません...</p>
<% else %>
  <% comments.each do |comment| %>
      <div class="comment-section_head">
        <h5 class="commented-user">
          <%= link_to end_user_path(comment.end_user), 'data-turbolinks': false do %>
            <strong><%= comment.end_user.name %></strong>
          <% end %>
        </h5>
        <p class="commented-time"><%= comment.created_at.strftime('%Y/%m/%d') %></p>
        <% if current_end_user == comment.end_user or current_end_user == target_post.end_user %>
          <p><%= link_to "削除", post_comment_path(comment.post, comment.id), class: "comment-destroy-btn", method: :delete, remote: true %></p>
        <% end %>
      </div>
      <p class="comment-section_body">
        <%= comment.body %>
      </p>
  <% end %>
<% end %>


