<div class="col-xs-3 fixed-sidebar">
  <div class="search">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <i class="fas fa-search"></i>
      <%= f.text_field 'search_value', placeholder: "検索ワードを入力...", size: "28", class: "search_form" %><br>
      <div class="text-right search_select">
        <%= f.select 'search_model', options_for_select({ "投稿を探す" => "post", "ユーザーを探す" => "end_user" }) %>
        <%= f.select 'search_how', options_for_select({ "部分一致" => "partical", "完全一致" => "match" }) %>
        <%= f.submit "検索", class: "search-btn" %>
      </div>
    <% end %>
  </div>
  <div class="sort-menu dropdown">
    <button class="btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		  投稿の並び替え
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li role="presentation" class="dropdown-header">いいね！のから並び替え</li>
	  	<li role="presentation">
        <%= link_to "いいね！多い順", posts_path('order': "favorite", 'terms': "desc") %>
	  	</li>
	  	<li role="presentation" class="dropdown-header">費用から並び替え</li>
	  	<li role="presentation">
        <%= link_to "費用の高い順", posts_path('order': "cost", 'terms': "desc") %>
	  	</li>
	  	<li role="presentation">
        <%= link_to "費用の安い順", posts_path('order': "cost", 'terms': "asc") %>
	  	</li>
	  	<li role="presentation" class="dropdown-header">難易度から並び替え</li>
	  	<li role="presentation">
        <%= link_to "難易度の高い順", posts_path('order': "level", 'terms': "desc") %>
	  	</li>
	  	<li role="presentation">
        <%= link_to "難易度の低い順", posts_path('order': "level", 'terms': "asc") %>
	  	</li>
	  	<li role="presentation" class="dropdown-header">作業時間から並び替え</li>
	  	<li role="presentation">
	  	  <%= link_to "作業時間の長い順", posts_path('order': "time", 'terms': "desc") %>
	  	</li>
	  	<li role="presentation">
        <%= link_to "作業時間の短い順", posts_path('order': "time", 'terms': "asc") %>
	  	</li>
	  </ul>
	  <div class="follow-search">
	    <% if current_end_user.followings.present? %>
	      <%= link_to search_path('search_model': "follow") do %>
	        <p class="follow-user-post btn btn-default">
	          フォロー(投稿)
	        </p>
	      <% end %>
	    <% end %>
	  </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ジャンルから探す</th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to genre.name, search_path('search_value': genre.id, 'search_how': "match", 'search_model': "post") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>