<div class="col-xs-7 col-xs-offset-1">
  <main class="main jscroll jscroll-select">
  <% unless @public_posts.empty? %>
    <% @public_posts.each do |public_post| %>
      <div class="content">
        <div class="content_user">
          <span>
            <%= link_to  end_user_path(public_post.end_user), 'data-turbolinks': false do %>
              <% if public_post.end_user.images.present? %>
                <img src='<%= public_post.end_user.images.thumb.url %>' class="post_user_image" alt="プロフ写真">
              <% else %>
                <%= image_tag "sample.jpg", size: '50x50', class: "post_user_image" %>
              <% end %>
          </span>
          <span><%= public_post.end_user.name %></span>
            <% end %>
        </div>
        <div class="content_image">
          <%= link_to post_path(public_post), 'data-turbolinks': false do %>
            <img src='<%= public_post.images.url %>' class="post_image" alt="ユーザー投稿写真">
          <% end %>
        </div>
        <div class="content_foot">
          <div class="list-icon">
            <span class="icon">
              <%= link_to "", post_path(public_post), class: "far fa-comment-dots icon-size" %>
              <spam id="favorite_<%= public_post.id %>">
                <%= render 'end_user/favorites/favorite', target_post: public_post %>
              </spam>
              <% if public_post.end_user != current_end_user %>
                <%= link_to "", chat_path(public_post.end_user), class: "fas fa-sms icon-size" %>
              <% end %>
              <spam id="bookmark_<%= public_post.id %>">
                <%= render 'end_user/bookmarks/bookmark', target_post: public_post %>
              </spam>
            </span>
          </div>
          <div id="favorites-count_<%= public_post.id %>" class="favorite-count">
            <%= render 'end_user/favorites/favorite_count', target_post: public_post %>
          </div>
          <div class="post-body">
            <h4 class="post-title"><%= public_post.title %>【<%= public_post.genre.name %>】</h4>
            <h5 class="subtitle"><%= public_post.subtitle %></h5>
            <ul class="detail-list">
              <li class="creation-time"><%= "#{time_ago_in_words(public_post.created_at)}前" %></li>
              <li class="view-detail-btn">
                <%= link_to "詳しく見る...", post_path(public_post), class: "link-post-detail text-right", 'data-turbolinks': false %>
              </li>
            </ul>
            <div class="comment-text">
              <%= render 'end_user/comments/form', target_post: public_post, comment: @comment_new %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @public_posts %>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
  </main>
</div>
<!--検索用サイドバー-->
<%= render 'sidebar', genres: @genres %>

<div class="scroll-event">
  <a href="#" class="scroll-btn-post"><i class="fas fa-long-arrow-alt-up"></i></a>
</div>
