<div class="col-xs-12">
  <div class="col-xs-7 col-xs-offset-1 post-detail-box">
    <div class="show-top">
      <div class="top-left">
        <span>
          <%= link_to end_user_path(@post.end_user), 'data-turbolinks': false do %>
            <% if @post.end_user.images.present? %>
              <img src='<%= @post.end_user.images.thumb.url %>' class="post_user_image" alt="プロフ写真">
            <% else %>
              <%= image_tag "sample.jpg", size: '50x50', class: "post_user_image" %>
            <% end %>
        </span>
        <span><%= @post.end_user.name %></span>
          <% end %>
      </div>
      <div class="top-right">
        <% if @post.end_user == current_end_user && @post.post_status == true %>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{ @post.title }を、Twitterでみんなに広めよう！", class: 'btn btn-default', target: '_blank' do %>
            <i class="fab fa-twitter"><span class="twitter-btn">Twitterに投稿</span></i>
          <% end %>
        <% end %>
        <% if @post.end_user == current_end_user %>
          <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-default", 'data-turbolinks': false %>
          <%= link_to "削除する", post_path(@post.id), class: "btn btn-default denger-btn", id: "rspec-post-destroy", method: :delete %>
        <% end %>
        <span id="favorite_<%= @post.id %>">
          <%= render 'end_user/favorites/favorite', target_post: @post %>
        </span>
        <% if @post.end_user != current_end_user %>
          <%= link_to "", chat_path(@post.end_user), class: "fas fa-sms icon-size" %>
        <% end %>
        <span id="bookmark_<%= @post.id %>">
          <%= render 'end_user/bookmarks/bookmark', target_post: @post %>
        </span>
        <span id="favorite_user_<%= @post.id %>">
          <%= render 'end_user/favorites/favorite_user', favorite_users: @favorite_users %>
        </span>
      </div>
    </div>
    <h5 class="content_title"><%= @post.title %>【<%= @post.genre.name %>】</h5>
    <div class="content_image">
      <div class="post-img text-center">
        <img src='<%= @post.images.url %>' class="img-size" alt="ユーザー投稿写真" >
      </div>

      <div class="detail-materials">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="table-style">材料・道具</th>
              <th class="table-style">購入先</th>
            </tr>
          </thead>
          <tbody>
          <% @post.materials.each do |material| %>
            <tr>
              <td class="table-style"><%= material.material_name %></td>
              <td class="table-style"><%= material.shop %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <div class="detail-body">
      <ul class="post-details">
        <li class="label">キャッチフレーズ</li>
        <li class="detail-list">
          <%= @post.subtitle %>
        </li>
        <li class="label">コツ・注意点</li>
        <li class="detail-list">
          <%= @post.caution %>
        </li>
        <li class="label">参考リンク</li>
        <li class="detail-list">
          <a href="<%= @post.link %>"><%= @post.link %></a>
        </li>
        <ul class="inline-list">
            <li class="label">費用：</li>
            <li class="detail-list-foot">
              <%= @post.cost %>
            </li>
            <li class="label">制作時間：</li>
            <li class="detail-list-foot">
              <%= @post.creation_time %>
            </li>
            <li class="label">難易度：</li>
            <li class="detail-list-foot">
              <%= @post.level %>
            </li>
        </ul>
      </ul>
      <h4 class="work-top">詳細工程</h4>
      <div class="detail-works">
      <% @post.works.each do |work| %>
        <div class="work-box">
          <div class="work_image text-center">
            <% if work.images.present? %>
              <img src='<%= work.images.small.url %>' class="img-size" alt="工程の写真">
            <% else %>
              <%= image_tag "sample.jpg", size: '115x75', class: "img-size" %>
            <% end %>
          </div>
          <div class="work_detail">
            <p><%= work.detail %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="fixed-menu-show">
    <div id="comment-list_<%= @post.id %>" class="comment-section">
      <%= render 'end_user/comments/comment', comments: @comments, target_post: @post %>
    </div>
    <hr>
    <div class="comment-text">
      <%= render 'end_user/comments/form', target_post: @post, comment: @comment_new %>
    </div>
    <div id="error_explanation">
      <%= render 'layouts/error', model: @comment_new %>
    </div>
  </div>
</div>
