<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>ステータス</th>
      <th>投稿日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="admin-tbody" style="background-color: white;">
    <% posts.each do |user_post| %>
      <tr>
        <td>
          <%= link_to user_post.end_user.name, admin_end_user_path(user_post.end_user) %>
        </td>
        <td><%= user_post.title %></td>
        <td>
          <% if user_post.post_status == true %>
            一般公開
          <% else %>
            下書き
          <% end %>
        </td>
        <td><%= user_post.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <%= link_to "詳細", admin_post_path(user_post), class: "" %>
        </td>
        <td>
          <%= link_to "編集", edit_admin_post_path(user_post), class: "" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>