<div class="col-xs-10 text-center col-xs-offset-1">
  <div class="col-xs-3 col-xs-offset-1">
    <div class="profile">
      <div class="profile_image">
        <% if @end_user.images.present? %>
          <img src='<%= @end_user.images.thumb_big.url %>' class="user_image" alt="プロフ写真" size="150x150">
        <% else %>
          <%= image_tag "sample.jpg", size: '150x150', class: "user_image" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-7 profile_foot">
    <div class="link">
    <% if current_end_user == @end_user %>
      <%= link_to "プロフィールを編集", edit_end_user_path(@end_user), class: "link_edit-btn", 'data-turbolinks': false %>
      <%= link_to "ブロック一覧", blockers_end_users_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to "メッセージを送る", chat_path(@end_user), class: "link_chat-btn" %>
      <div class="follow-btn">
        <%= render 'end_user/relationships/follow', end_user: @end_user %>
      </div>
      <div class="block-btn">
        <%= link_to "ブロックする", end_user_blocks_path(@end_user.id), method: :post, class: "btn btn-default" %>
      </div>
    <% end %>
    </div>
    <div class="profile-detail">
      <h5 class="post-count">
        投稿<strong><%= @end_user.posts.count %></strong>件
      </h5>
      <h5 class="sex">
        性別：<strong><%= @end_user.sex %></strong>
      </h5>
      <h5 class="experience">
        レベル：<strong><%= @end_user.experience %></strong>
      </h5>
    </div>
    <h4 class="user-name">
      <%= @end_user.name %>
    </h4>
    <h6 class="user-introduction">
      <%= @end_user.introduction %>
    </h6>
  </div>
</div>
<div class="col-xs-10 col-xs-offset-1">
  <div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active" role="presentation">
        <a aria-controls="tab_post" data-toggle="tab" href="#tab_post" role="tab">投稿</a>
      </li>
      <% if @end_user == current_end_user %>
        <li role="presentation">
          <a aria-controls="tab_draft" data-toggle="tab" href="#tab_draft" role="tab">下書き</a>
        </li>
      <% end %>
      <li role="presentation">
        <a aria-controls="tab_bookmark" data-toggle="tab" href="#tab_bookmark" role="tab">ストック</a>
      </li>
      <li role="presentation">
        <a aria-controls="tab_friend" data-toggle="tab" href="#tab_friend" role="tab">友達</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active tab-posts" id="tab_post" role="tabpanel">
        <div class="tab-flex">
          <% @public_posts.each do |public_post| %>
            <div class="">
              <%= link_to post_path(public_post) do %>
                <img src='<%= public_post.images.url %>' class="post-image" alt="投稿写真">
              <% end %>
            </div>
          <% end %>
          <% if @public_posts.empty? %>
            <p>投稿はありません</p>
          <% end %>
        </div>
      </div>
      <div class="tab-pane tab-posts" id="tab_draft" role="tabpanel">
        <div class="tab-flex">
          <% @draft_posts.each do |draft_post| %>
            <div class="">
              <!--エラーの可能性あり-->
              <%= link_to edit_post_path(draft_post), 'data-turbolinks': false do %>
                <img src='<%= draft_post.images.url %>' class="post-image" alt="投稿写真">
              <% end %>
            </div>
          <% end %>
          <% if @draft_posts.empty? %>
            <p>下書きはありません</p>
          <% end %>
        </div>
      </div>
      <div class="tab-pane tab-posts" id="tab_bookmark" role="tabpanel">
        <div class="tab-flex">
          <% @bookmarks.each do |bookmark| %>
              <div class="">
                <%= link_to post_path(bookmark.post) do %>
                  <img src='<%= bookmark.post.images.url %>' class="post-image" alt="投稿写真">
                <% end %>
              </div>
          <% end %>
          <% if @bookmarks.empty? %>
            <p>ストックはありません</p>
          <% end %>
        </div>
      </div>
      <div class="tab-pane text-center" id="tab_friend" role="tabpanel">
        <div class="unfollow<%= current_end_user.id %> col-xs-8 col-xs-offset-1">
          <%= render 'mutual_follow', mutual_follows: @mutual_follows, end_user: @end_user %>
        </div>
        <div class="col-xs-2">
          <% if @end_user == current_end_user %>
            <%= render 'end_user/relationships/request_follow' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>