<div class="col-xs-3 fixed-sidebar">
  <div class="search">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <i class="fas fa-search"></i>
      <%= f.text_field 'search_value', placeholder: "検索ワードを入力...", size: "28", class: "search_form" %><br>
      <div class="text-right search_select">
        <%= f.select 'search_model', options_for_select({ "投稿を探す" => "post", "ユーザーを探す" => "end_user" }), class: "model-select" %>
        <%= f.select 'search_how', options_for_select({ "部分一致" => "partical", "完全一致" => "match" }), class: "how-select" %>
        <%= f.submit "検索", class: "search-btn" %>
      </div>
    <% end %>
  </div>
  <% if @model == 'post' %>
    <%= render 'sort_post', value: @value, how: @how %>
  <% elsif @model == 'end_user' %>
    <%= render 'sort_user', value: @value, how: @how %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>ジャンルから探す</th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to genre.name, search_path('search_value': genre.id, 'search_how': "match", 'search_model': "post") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>