<div class="sort-menu dropdown">
  <button class="btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		  投稿の並び替え
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <li role="presentation" class="dropdown-header">いいね！のから並び替え</li>
	 <li role="presentation">
   <%= link_to "いいね！多い順", search_path('order': "favorite", 'terms': "desc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
	 </li>
		<li role="presentation" class="dropdown-header">費用から並び替え</li>
		<li role="presentation">
   <%= link_to "費用の高い順", search_path('order': "cost", 'terms': "desc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
		<li role="presentation">
   <%= link_to "費用の安い順", search_path('order': "cost", 'terms': "asc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
		<li role="presentation" class="dropdown-header">難易度から並び替え</li>
		<li role="presentation">
   <%= link_to "難易度の高い順", search_path('order': "level", 'terms': "desc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
		<li role="presentation">
   <%= link_to "難易度の低い順", search_path('order': "level", 'terms': "asc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
		<li role="presentation" class="dropdown-header">作業時間から並び替え</li>
		<li role="presentation">
		  <%= link_to "作業時間の長い順", search_path('order': "creation_time", 'terms': "desc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
		<li role="presentation">
   <%= link_to "作業時間の短い順", search_path('order': "creation_time", 'terms': "asc", 'search_model': "post", 'search_value': value, 'search_how': how) %>
		</li>
	</ul>
	<div class="follow-search">
	  <% if current_end_user.followings.present? %>
	    <%= link_to search_path('search_model': "follow") do %>
	      <p class="follow-user-post btn btn-default">
	        フォロー(投稿)
	      </p>
	    <% end %>
	  <% end %>
	</div>
</div>